{{- if .Values.istio.enabled }}
apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: {{ include "helm.nginx-app.fullname" . }}
spec:
  selector:
    istio: ingressgateway
  servers:
    - port:
        number: 443
        name: https
        protocol: HTTPS
      tls:
        mode: SIMPLE
        credentialName: {{ .Values.istio.gateway.tls.credentialName }}
      hosts:
  {{- range .Values.istio.gateway.hosts }}
- {{ . | quote }}
  {{- end }}
  {{- end }}