apiVersion: v1
kind: Service
metadata:
  name: {{ include "helm.nginx-app.fullname" . }}
  labels:
    {{- include "helm.nginx-app.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    {{- include "helm.nginx-app.selectorLabels" . | nindent 4 }}
