replicaCount: 2

image:
  repository: python1988/nginx-app
  tag: 60           # нужен envsubst (есть в alpine)
  pullPolicy: IfNotPresent

service:
  port: 80

ingress:
  enabled: true
  hosts:
    - host: nginx.local
      paths:
        - path: /
          pathType: Prefix

  tls:
    - secretName: nginx-tls
      hosts:
        - nginx.local

env:
  config:
    APP_ENV: production
    WELCOME_MSG: "Hello from ConfigMap"
  secret:
    DB_USER: admin
    DB_PASS: SuperSecret123