replicaCount: 2

image:
  repository: python1988/nginx-app
  tag: 62
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "nginx"
  host: nginx.local

  tls:
    enabled: true
    secretName: nginx-tls

env:
  secret:
    username: ""
    password: ""