replicaCount: 2

image:
  repository: python1988/nginx-app
  tag: 84
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "nginx"
  host: nginx.local

  tls:
    enabled: true
    secretName: nginx-tls

env:
  secret:
    username: ""
    password: ""

istio:
  enabled: false
  gateway:
    namespace: istio-system
    name: istio-ingressgateway
    hosts:
      - nginx.local
    tls:
      enabled: true
      credentialName: nginx-tls
  virtualService:
    uriPrefix: /
  destinationRule:
    enabled: false