replicaCount: 2

image:
  repository: python1988/nginx-app
  tag: 82
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: "nginx"
  host: nginx.local

  tls:
    enabled: true
    secretName: nginx-tls

env:
  secret:
    username: ""
    password: ""

istio:
  enabled: true

  gateway:
    hosts:
      - nginx.local
    tls:
      credentialName: nginx-tls